.wrapper{
  width: 300px;
  height: 100%;
  margin: 0 auto;
}
.info-wrapper{
  margin-bottom: 10px;
}
.select-after{
  width: 100px;
}
.select-option{
  display: flex;
  align-items: center;
}
.select-wrapper{
  text-align: center;
}
.img{
  width: 20px;
}
.span{
  padding-left: 5px;
  font-size: 20px;
  font-weight: 600;
}